{% extends 'base.html' %} {% import 'macros.html' as macro%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

<!--content block-->
{% block content %}

<!--Headlines-->
<div class="container">
<h1 class="text-center"> WELCOME TO NEWS HIGHLIGHTS</h1>
<div class="row">
<h2 class="text-center">Sport news</h2>
    {{macro.displaySourcesList(sport_sources)}}
</div>
<div class="row">
<h2 class="text-center">Business news</h2>
    {{macro.displaySourcesList(business_sources)}}
</div>
<div class ="row">
<h2 class="text-center">entertainment news</h2>
    {{macro.displaySourcesList(entertainment_sources)}}
    
</div>
<div class="row">
    <h2 class="text-center">Health news</h2>
    {{macro.displaySourcesList(health_sources)}}

</div>

<div class="row">
    <h2 class="text-center">Tech news</h2>
    {{macro.displaySourcesList(tech_sources)}}
</div>
<div class="row">
    <h2 class="text-center">General news</h2>
    {{macro.displaySourcesList(general_sources)}}
</div>


</div>
{% endblock %}