

{% macro displaySourcesList(sources_list) %}
    {% for source in sources_list%}
    
            <div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3 sources-card">
                <p class="source-name"><b>{{ source.name}}</b></p>
                <p class = "source-descr">{{source.description}}</p>
                <a href ="/sources_articles/{{source.id}}"><button class = "btn btn-danger">View News Source</button></a>
            </div>
        
 
    {% endfor %}
{% endmacro %}

    <!-- end latest macro -->
    
    {% macro displayArticles(article_list) %} {% for article in article_list %}
    <div class="col-sm-12 mb-3">
      <div class="row inside-cols">
        <div class="col-sm-4 img-cols">
          <img
            src="{{ article.urlToImage }}"
            alt="{{ article.title }}"
            class="img-responsive"
          />
        </div>
        <div class="col-sm-8 ">
          <div class="heading">
            <h5 class="text-primary">{{ article.author }}</h5>
            <span class="text-muted">{{ article.publishedAt }}</span>
            <span>     
          </div>
          <h2 class="text-title">
              <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
            </h2>
          <p class="lead">{{ article.content }}</p>
        </div>
    
      </div>
    </div>
    
    {% endfor %} {% endmacro%}
    
    



            

